* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  background: #FFF9F5;
}

.header {
  width: 1440px;
  height: 72px;
  border-bottom: 1px solid #1A1D2673;
  padding-left: 64px;
  padding-right: 64px;
  box-sizing: border-box;

}

.tag-name h1 {
  font-family: Alex Brush;
  font-weight: 400;
  font-size: 32px;
  line-height: 75%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #1A1D26;
}

.tag-name h2 {
  font-family: Alex Brush;
  font-weight: 400;
  font-size: 19px;
  line-height: 75%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #1A1D26;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 54px;
  height: 54px;
  border-radius: 250px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background-color: #fdf7f2;
  border-bottom: 1px solid #ccc;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}


nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;

}

nav ul li a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  color: #1A1D26;


}

button {
  height: 40px;
  padding: 8px 20px;
  border: 1px solid #1A1D26;
  background-color: #1A1D26;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/*--------------------------------<HERO DAQUI PRA BAIXO>---------------------------------------*/

.hero {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 900px;
  padding-right: 64px;
  padding-left: 64px;
  gap: 80px;
}

.hero-text {
  width: 576px;
  height: 259px;
  gap: 24px;

}

.hero-text h1 {
  font-family: Alex Brush;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;

}

.hero-text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.button-hero {
  width: 199px;
  height: 48px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 8px;
  background: #1A1D26;
  border: 1px solid #BE986A;
}